$scrollBarSize: 20px;

  //※下記のような構造
  // A B   A: 余白, B: 列ヘッダ
  // C D   C: 行ヘッダ, D: コンテンツ
.root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;//行ヘッダはみ出すのを防ぐ
  > :first-child{//A: 余白, B: 列ヘッダ
    flex: 0 0 auto;
    display: flex;
    background-color: whitesmoke;
    > :first-child{//A: 余白
      flex: 0 0 auto;
      position: relative;
      z-index: 1;
      background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
      border: solid 1px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
    }
    > :last-child{//B: 列ヘッダ
      flex: 1 1 auto;
      overflow: hidden;
      display: flex;
    }
  }
  > :last-child{//C: 行ヘッダ, D: コンテンツ
    flex: 1 1 auto;
    display: flex;
    > :first-child{//C: 行ヘッダ
      flex: 0 0 auto;
      position: relative;
      > :first-child{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        > :first-child{
          display: flex;
          flex-direction: column;
          > *{//セル
            background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
            border: solid 1px rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
          }
        }
      }
    }
    > :last-child{// D: コンテンツ
      flex: 1 1 auto;
      position: relative;
      > :first-child{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        > :first-child{
          width: fit-content;
        }
      }
    }
  }
}

.HeaderItemRoot{
  display: flex;
  box-sizing: border-box;
  
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: solid 1px rgba(0, 0, 0, 0.25);

  > :first-child{//label;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
  }
  > .resize{//リサイズ用
    position: relative;
    > div{
      position: absolute;
      width: 10px;//親のpadding5px分ずれるので、中央に見える
      height: 100%;
      left: 5px;
      position: relative;
      cursor: col-resize;
    }
    
  }

}

.row{
  display: flex;
  box-sizing: border-box;
}

.cell{
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;

}
